<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Mapp</title>
<style>

  .overlay {
    fill: none;
    pointer-events: all;
  }

</style>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div id="container"></div>
  <h1 id="tweetCount"></h1>
  <button class='stop-connection'>stop connection</button>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/sentimentlookup.js"></script>
  <script src="js/d3.js"></script>
</body>
</html>
