<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mapp</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div id="container"></div>
  <h1 id="tweetCount"></h1>
  <button class='stop-connection'>stop connection</button>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/kinetic-v5.1.0.min.js"></script>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/sentimentlookup.js"></script>
  <script defer="defer" src="js/kinetic.js"></script>
</body>
</html>
